@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Archivo+Black&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --title-font: 'Lobster', cursive, sans-serif;
  --text-font: 'Pacifico', cursive;
  --text-font-alternative: 'Archivo Black', sans-serif;
  --text-shadow: 8px 7px 12px black;
}

body {
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: darkkhaki;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 800px;
  margin-inline: auto;
}

header h1 {
  padding: 20px 0;
  font-size: 50px;
  font-family: var(--title-font);
  background: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #1dc03b -2.45%,
    #110bd3 26.84%,
    #f71403 64.15%,
    #f6f20a 108.29%,
    #07d114 159.03%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: 215px; */
}

header a {
  display: block;
  margin: auto;
  text-decoration: none;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #3a78f2, #f1a11f, #a41fc4);
  width: 800px;
  padding: 44px 19px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'contato contato contato'
    'interesse_cidade interesse_cidade interesse_cidade'
    'nascimento nascimento nascimento'
    'interesse_local interesse_local interesse_local'
    'cadastro cadastro cadastro';
}

.contato {
  grid-area: contato;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

fieldset {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

legend {
  min-width: 0px;
  max-width: 70%;
  margin: auto;
  padding: 5px 20px;
  color: #eee8aa;
  font-size: 20px;
}

div.nome input,
.email input,
.telefone input {
  padding: 5px;
  transition: transform 0.3s;
}

input[type='date'],
select {
  padding: 5px;
}

div.nome input:hover,
.email input:hover,
.telefone input:hover {
  transform: scale(1.08);
}

.interesse_cidade {
  grid-area: interesse_cidade;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interesse_cidade .opcoes label {
  font-size: 18px;
  margin-right: 20px;
}

.interesse_cidade .opcoes #estudante,
#turista {
  margin-right: 80px;
}

.nascimento {
  grid-area: nascimento;
  display: flex;
  justify-content: space-around;
}

.data input {
  display: block;
  margin: 0 auto 10px;
}

.idade {
  text-align: left;
}

.interesse_local {
  grid-area: interesse_local;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.confirmando {
  grid-area: cadastro;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

div.confirmando button {
  padding: 10px 30px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
}

button[type='reset'] {
  background-color: #a8a4a4;
}

button[type='reset']:hover {
  background-color: #858282;
}

button[type='submit'] {
  background-color: #477be3;
  color: #f2f2f2;
}

button[type='submit']:hover {
  background-color: #345ad8;
}
